In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


df = pd.read_csv('../data/wage_by_gender_common_jobs.csv')
df

,ID Gender,Gender,ID Year,Year,ID Employment Time Status,Employment Time Status,ID Detailed Occupation,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography
0,1,Male,2017,2017,1,Full-time,411011,Firstline supervisors of retail sales workers,55111.428990,5187.360809,53197,5622.820253,466,Georgia,04000US13
1,2,Female,2017,2017,1,Full-time,411011,Firstline supervisors of retail sales workers,44398.933716,5092.086576,44641,5156.717462,390,Georgia,04000US13
2,2,Female,2017,2017,1,Full-time,533030,Driver/sales workers & truck drivers,33045.701299,5063.336006,7392,2108.786142,54,Georgia,04000US13
3,2,Female,2017,2017,1,Full-time,252020,Elementary & middle school teachers,48443.326639,2380.938000,94315,7445.650503,993,Georgia,04000US13
4,2,Female,2017,2017,1,Full-time,119XXX,Miscellaneous managers,80467.504226,6348.694044,52298,5575.775934,495,Georgia,04000US13
5,1,Male,2017,2017,1,Full-time,412010,Cashiers,26376.106184,3824.917464,10171,2472.715055,83,Georgia,04000US13
6,1,Male,2017,2017,1,Full-time,533030,Driver/sales workers & truck drivers,47577.293083,3608.956824,96297,7521.463652,819,Georgia,04000US13
7,1,Male,2017,2017,1,Full-time,252020,Elementary & middle school teachers,52409.853139,3005.610446,22729,3690.294509,228,Georgia,04000US13
8,1,Male,2017,2017,1,Full-time,119XXX,Miscellaneous managers,105699.044266,7795.873967,80445,6889.279050,825,Georgia,04000US13
9,2,Female,2017,2017,1,Full-time,412010,Cashiers,20370.554605,2239.841480,32030,4375.357009,266,Georgia,04000US13
10,1,Male,2016,2016,1,Full-time,412010,Cashiers,26603.465015,5962.479274,9847,2433.013107,89,Georgia,04000US13
11,1,Male,2016,2016,1,Full-time,533030,Driver/sales workers & truck drivers,48307.692978,3521.012646,95446,7485.878421,806,Georgia,04000US13
12,1,Male,2016,2016,1,Full-time,252020,Elementary & middle school teachers,48839.151646,3875.165391,21227,3566.661628,233,Georgia,04000US13
13,1,Male,2016,2016,1,Full-time,119XXX,Miscellaneous managers,99656.545955,6868.045714,78424,6801.707443,822,Georgia,04000US13
14,2,Female,2016,2016,1,Full-time,411011,Firstline supervisors of retail sales workers,44023.388962,6222.627213,45025,5177.574138,381,Georgia,04000US13
15,2,Female,2016,2016,1,Full-time,412010,Cashiers,19162.945578,3046.722737,31991,4372.111434,243,Georgia,04000US13
16,2,Female,2016,2016,1,Full-time,533030,Driver/sales workers & truck drivers,30409.279827,4976.774890,9245,2357.662197,63,Georgia,04000US13
17,2,Female,2016,2016,1,Full-time,252020,Elementary & middle school teachers,47366.196844,2157.425082,98982,7619.518577,993,Georgia,04000US13
18,2,Female,2016,2016,1,Full-time,119XXX,Miscellaneous managers,78394.262527,6841.309617,46281,5248.385526,447,Georgia,04000US13
19,1,Male,2016,2016,1,Full-time,411011,Firstline supervisors of retail sales workers,59859.347201,6767.817601,56391,5785.271920,494,Georgia,04000US13
20,2,Female,2015,2015,1,Full-time,411011,Firstline supervisors of retail sales workers,40393.521548,6044.399843,37567,4733.672214,354,Georgia,04000US13
21,2,Female,2015,2015,1,Full-time,533030,Driver/sales workers & truck drivers,37079.572519,6441.024419,6419,1965.262590,47,Georgia,04000US13
22,2,Female,2015,2015,1,Full-time,252020,Elementary & middle school teachers,46764.332389,1723.593085,95286,7477.550505,989,Georgia,04000US13
23,2,Female,2015,2015,1,Full-time,119XXX,Miscellaneous managers,74060.671302,5844.708177,46745,5273.535359,445,Georgia,04000US13
24,1,Male,2015,2015,1,Full-time,119XXX,Miscellaneous managers,99035.526057,7750.192410,74279,6621.808769,740,Georgia,04000US13
25,1,Male,2015,2015,1,Full-time,411011,Firstline supervisors of retail sales workers,53298.204530,4505.483004,49890,5445.635696,461,Georgia,04000US13
26,1,Male,2015,2015,1,Full-time,412010,Cashiers,30472.001700,10672.023797,9414,2378.990952,68,Georgia,04000US13
27,1,Male,2015,2015,1,Full-time,533030,Driver/sales workers & truck drivers,43970.450824,2279.374847,97639,7566.769490,829,Georgia,04000US13
28,1,Male,2015,2015,1,Full-time,252020,Elementary & middle school teachers,49138.916908,2838.878999,21025,3549.521115,203,Georgia,04000US13
29,2,Female,2015,2015,1,Full-time,412010,Cashiers,18791.703200,3181.163426,29407,4192.929219,234,Georgia,04000US13
30,2,Female,2014,2014,1,Full-time,252020,Elementary & middle school teachers,45395.692466,1368.328106,93453,7402.886130,963,Georgia,04000US13
31,2,Female,2014,2014,1,Full-time,533030,Driver/sales workers & truck drivers,29237.723450,5528.744278,6111,1917.544587,48,Georgia,04000US13
32,2,Female,2014,2014,1,Full-time,412010,Cashiers,20864.518395,2309.825253,35309,4589.664881,272,Georgia,04000US13
33,2,Female,2014,2014,1,Full-time,411011,Firstline supervisors of retail sales workers,36573.428985,2873.178669,37999,4759.408885,332,Georgia,04000US13
34,1,Male,2014,2014,1,Full-time,411011,Firstline supervisors of retail sales workers,63842.818705,6998.581650,50724,5488.597072,451,Georgia,04000US13
35,1,Male,2014,2014,1,Full-time,119XXX,Miscellaneous managers,97615.608304,7550.621597,75242,6660.563653,754,Georgia,04000US13
36,1,Male,2014,2014,1,Full-time,533030,Driver/sales workers & truck drivers,41879.803329,2767.094686,79849,6856.753906,729,Georgia,04000US13
37,1,Male,2014,2014,1,Full-time,412010,Cashiers,23331.326394,6598.967009,7494,2123.043295,57,Georgia,04000US13
38,1,Male,2014,2014,1,Full-time,252020,Elementary & middle school teachers,47398.429071,3035.256849,17172,3209.226662,196,Georgia,04000US13
39,2,Female,2014,2014,1,Full-time,119XXX,Miscellaneous managers,66422.097205,5390.958003,40677,4922.329554,393,Georgia,04000US13

In [3]:
# There are 40 rows and 15 columns
print(df.shape)

(40, 15)

In [4]:
# Examine data, there are some hidden columns
# show all columns
df.columns

Index(['ID Gender', 'Gender', 'ID Year', 'Year', 'ID Employment Time Status',
       'Employment Time Status', 'ID Detailed Occupation',
       'Detailed Occupation', 'Average Wage', 'Average Wage Appx MOE',
       'Total Population', 'Total Population MOE Appx', 'Record Count',
       'Geography', 'ID Geography'],
      dtype='object')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 15 columns):
ID Gender                    40 non-null int64
Gender                       40 non-null object
ID Year                      40 non-null int64
Year                         40 non-null int64
ID Employment Time Status    40 non-null int64
Employment Time Status       40 non-null object
ID Detailed Occupation       40 non-null object
Detailed Occupation          40 non-null object
Average Wage                 40 non-null float64
Average Wage Appx MOE        40 non-null float64
Total Population             40 non-null int64
Total Population MOE Appx    40 non-null float64
Record Count                 40 non-null int64
Geography                    40 non-null object
ID Geography                 40 non-null object
dtypes: float64(3), int64(6), object(6)
memory usage: 4.8+ KB
None

In [6]:
# examine the common stats of numeric columns
print(df.describe())

       ID Gender      ID Year         Year  ID Employment Time Status  \
count   40.00000    40.000000    40.000000                       40.0
mean     1.50000  2015.500000  2015.500000                        1.0
std      0.50637     1.132277     1.132277                        0.0
min      1.00000  2014.000000  2014.000000                        1.0
25%      1.00000  2014.750000  2014.750000                        1.0
50%      1.50000  2015.500000  2015.500000                        1.0
75%      2.00000  2016.250000  2016.250000                        1.0
max      2.00000  2017.000000  2017.000000                        1.0

        Average Wage  Average Wage Appx MOE  Total Population  \
count      40.000000              40.000000         40.000000
mean    49552.209249            4762.234847      47451.875000
std     23075.203958            2113.627175      31059.818378
min     18791.703200            1368.328106       6111.000000
25%     32402.276399            2972.502502      21176.500000
50%     47065.264616            5020.055448      44833.000000
75%     56298.408543            6371.776637      76037.500000
max    105699.044266           10672.023797      98982.000000

       Total Population MOE Appx  Record Count
count                  40.000000      40.00000
mean                 4971.058462     443.87500
std                  1856.790135     307.75608
min                  1917.544587      47.00000
25%                  3562.376500     221.75000
50%                  5167.145800     391.50000
75%                  6695.849601     743.50000
max                  7619.518577     993.00000

In [10]:
# loop through the data of each column, find the column has value of cell which is object =='?' then count

for col in df.columns:
    if df[col].dtype == object:
         print(col, df[col][df[col] == '?'].count())

# There are 40 rows and 15 columns
print(df.shape)

Gender 0
Employment Time Status 0
ID Detailed Occupation 0
Detailed Occupation 0
Geography 0
ID Geography 0
(40, 15)